<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
</head><body>
---
layout: default
---
<div class="container">
<div class="clearfix spacer"></div>
<h1>{{ page.title | escape }}</h1>
<div class="clearfix spacer"></div>
<!-- BODY CONTENT -->
<div class="row">
<div class="col-sm-7 col-md-6 col-lg-5"> {{ content }} {%
unless site.categories.action | size &gt; 0 %}
<p>No posts in this category at this time.</p>
{% endunless %}
<div class="clearfix spacer"></div>
</div>
</div>
<!-- ACTIONS -->
<div class="row">
<div class="col-sm-8">
<h5 class="mb-2">Actions</h5>
<!-- ACTIONS --> {% assign featured_posts =
(site.categories.action|where_exp:"post","post['is featured'] == true")
%} {% assign not_featured_posts =
(site.categories.action|where_exp:"post","post['is featured'] ==
false") %} {% for post in featured_posts %}
<hr class="mt-0 mb-2"> <span class="badge badge-danger">PINNED</span>
{% include action-post-header.html %} {% endfor %} {% for post in
not_featured_posts %}
<hr class="mt-0 mb-2"> {% include action-post-header.html
%} {% endfor %} </div>
<!-- END ACTIONS --> </div>
</div>
<!-- END CONTAINER -->
<div class="clearfix spacer"></div>
<div class="clearfix spacer"></div>
</body></html>