---
layout: default
---

<div class="container">

  <div class="clearfix spacer"></div>

  <h1>Join the Movement</h1>

  <div class="clearfix spacer"></div>

  <!-- BODY CONTENT -->
  <div class="row">

    <!-- STEPS -->
    <div class="col-sm-7 col-md-8">

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">1</span></span>

        <div class="media-body">
          <h4 class="mt-2 mb-2">Stand Indivisible with Indivisible Colusa</h4>
          <p class="card-text">Sign up for updates.</p>
          {% if page.mailchimp-form-embed %}
          <div class="row">
            <div class="col-sm-8 col-md-6">

                {{ page.mailchimp-form-embed }}

             </div>
           </div>
           {% else %}
           <p class="text-danger">No mailing list set up yet. Add one by logging into Siteleaf, editing this page, and pasting one into the <em>mailchimp-form-embed</em> field.</p>
           {% endif %}
        </div>

      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">2</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Attend a Meeting</h4>
          <p class="card-text">Take part in local meetings, rallies and events.</p>
          <p><a href="/calendar.html" class="btn btn-primary">See Calendar</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">3</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Take Action</h4>
          <p class="card-text">Review the list of current actions and get started.</p>
          <p><a href="/actions.html" class="btn btn-danger">View Actions</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">4</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Read the Indivisible Guide</h4>
          <p class="card-text">Former congressional staffers reveal best practices for making Congress listen.</p>
          <p><a href="https://www.indivisibleguide.com/" class="btn btn-primary">Read the Guide</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">5</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Share with Friends</h4>
          <p class="card-text">The more members our local chapter has, the more impact we have on the national agenda.</p>
          <div class="clearfix share-btns d-flex flex-row mt-4">
            <div>
              <a class="twitter-share-button p2 ml-4" data-size="large"
                href="https://twitter.com/intent/tweet?text=Check out {{ site.title | escape }}at&url=http://indivisiblecolusa.org
              Tweet</a>
            </div>
            <div class="ml-4">
              <div class="fb-share-button mt-0" data-href="" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
            <div class="ml-4"><a href="mailto:?subject=Check%20out%20Indivisible%20Colusa&body=http://indivisiblecolusa.org" class="btn btn-sm btn-primary">Email</a></p></div>
          </div>

        </div>
      </div>
    </div>

    <!-- BIOGRAPHY -->

    <div class="col-sm-5 col-md-4">
      <hr>
      <h5>Who We Are</h5>
      {{ page.content | markdownify }}
    </div>

  </div>



</div><!-- END CONTAINER -->

<div class="clearfix spacer"></div>
<div class="clearfix spacer"></div>
