---
layout: default
---

<div class="container">

  <div class="clearfix spacer"></div>

  <h1>Join the Movement</h1>

  <div class="clearfix spacer"></div>

  <!-- BODY CONTENT -->
  <div class="row">

    <!-- STEPS -->
    <div class="col-sm-7 col-md-8">

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">1</span></span>

        <div class="media-body">
          <h4 class="mt-2 mb-2">Stand Indivisible with us</h4>
          <p class="card-text">Sign up for Indivisible Colusa updates.</p>
          {% if page.mailchimp-form-embed %}
          <div class="row">
            <div class="col-sm-8 col-md-6">

                {{ page.mailchimp-form-embed }}

             </div>
           </div>
           {% else %}
           <p class="text-danger">No mailing list set up yet. Add one by logging into Siteleaf, editing this page, and pasting one into the <em>mailchimp-form-embed</em> field.</p>
           {% endif %}
        </div>

      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">2</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Show Up</h4>
          <p class="card-text">Check out Indivisible Colusa meetings and other local events.</p>
          <p><a href="/calendar.html" class="btn btn-primary">See Calendar</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">3</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Take Action</h4>
          <p class="card-text">Here's what we think is important right now. </p>
          <p><a href="/actions.html" class="btn btn-danger">View Actions</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">4</span></span>
        <div class="media-body">
          <h4 class="mt-2 mb-2">Read the Indivisible Guide</h4>
          <p class="card-text">Former congressional staffers reveal best practices for making Congress listen.</p>
          <p><a href="https://www.indivisible.org/guide/" class="btn btn-primary">Read the Guide</a></p>
        </div>
      </div>

   </div>

     <!-- BIOGRAPHY -->

    <div class="col-sm-5 col-md-4">
      <hr>
      <h5>Who We Are</h5>
      {{ page.content | markdownify }}
    </div>

  </div>



</div><!-- END CONTAINER -->

<div class="clearfix spacer"></div>
<div class="clearfix spacer"></div>
