<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head></head><body>---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    {% if content %}
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">

        {{ content }}

        <div class="clearfix spacer"></div>

      </div>
    </div>
    {% endif %}


    <div class="row">

      <div class="col-sm-8">

        <!-- UPCOMING EVENTS -->
        <h5 class="mb-0">Upcoming Events</h5>

        <div class="post-list">

          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.posts %}
            {% assign postStartDate = post.event-start-date | date: '%s' %}
            {% if postStartDate &gt;= curDate %}
              {% include event-post-header.html %}
            {% endif %}
          {% endfor %}

        </div><!-- END UPCOMING EVENTS -->


        <div class="clearfix spacer"></div>

        <!-- CALENDAR EMBED -->
        {% if page.embed-code %}

          <div class="clearfix spacer"></div>

          <h5 class="mb-0">Full Calendar</h5>
          <hr class="mt-2 mb-2">

          <div class="clearfix spacer-sm"></div>

          {{ page.embed-code }}

          <div class="clearfix spacer"></div>

        {% endif %}

        <!-- PAST EVENTS -->

        <div class="clearfix spacer"></div></div><!-- END ROW --></div>

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div></body></html>